@media all and (max-width: 360px) {
body {
    font-family: "PT Sans", sans-serif;
}
}
* {
    box-sizing: border-box;

}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 1em;
    font-family: sans-serif;
}
.alert-info {
        background-color: #ccffff;
        width: 100%;
        text-align: center;
        padding: 1em,0;
        border: .1em solid lightgrey;
        height: ;
}
.alert-info a {
        text-decoration: none;
        color: #111111;
}
h1 {
  text-align: center;
}
ul {

}
li {
    text-align: center;
    background: rgb(204 204 204);
    margin: .5em auto;
    padding: .75em;
}
footer p {
    font-size: .35em;
    position: relative;
    top: 40px;
}
#social-media-links {
    float: right;
}
.fb {
    float: left;
    display: block;
}


.nav-links {
    list-style: none;
}
.nav-links li {
    margin: .1em;
    background-color: #847477;
}

nav {
    width: 100%;
    text-align: center;
    padding: 1em 0;
}